/* global configuration */

@import url('./component.css');
@import url("http://at.alicdn.com/t/font_2635760_vlbxczhu8p.css");
@import url('./adaptA.css');
@import url('./adaptB.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

:root {
    --font-en: 'Ubuntu', sans-serif;
    --font-zh: 'Helvetica Neue',sans-serif;
    --font-mix: 'Ubuntu','Helvetica Neue',sans-serif;
    --d-title-size: 1.5em;
    --d-article-size: 0.8em;
    --m-article-size: 0.7em;
    --m-title-size: 14px;
}
.classfont-en {
    font-family: var(--font-en);
}
.classfont-zh {
    font-family: var(--font-zh);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: var(--font-mix);
    transition: background-color 0.5s ease,color 2s ease;
}
ul li,p,h2 {
    list-style: none;
    text-align: center;
    margin: 3em auto;
}
.container,.nav-bar,.content-area {
    padding: 3em;
    
}
:is(div) ul li {
    border-radius: 3px;
    
}
a {
    text-decoration: none;

}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}